.container {
  width: 100vw;
  height: 100vh;
  background: lightblue;
  .quoteBox {
    //border: 1px solid black;
    display: flex;
    justify-content: space-between;
    &:hover {
      border: 1px solid red;
    }
    .quotePart {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 5vw;
      max-width: 15vw;
      overflow: hidden;
      cursor: default;
    }

  }
}